.shop {
    padding-bottom: 230px;
}

.shop-wrapper{
    display: block;
    clear: left;
}   
    .front-shop-item{
        width: 48vw;
        float: left;
        position: relative;
        border: solid 10px #fff;
        height: 215px;
        overflow: hidden;
        @media screen and (min-width: $mobile){
            width: 24.4vw;
        }
        @media screen and (min-width: $tablet){
            width: 24.4vw;
        }
        @media screen and (min-width: $desktop){
        }
        a{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center center;
        }
    }
 