// Colors
$black: #1a1a1a;
$yellow:#FFC700; //#FF611D; //F8F3A7
$gold: #8D734B;
$grey: #6f7172;

$darkblue: #AACAD5; 
$midblue: #E0E9EE;
$lightblue: #C9E0E6;
$darkerblue: #101727;


$background: #FFF;
$link: #AACAD5;
$link-hover: #AACAD5;
$text-color: #1a1a1a;
$heading-color: #171F32;

// Style Specific - slideshow
$slideshow-text: white;
$calltoaction-background: #AACAD5;
$calltoaction-color: white;

// Style Specific - info bar
$infobar-background: $lightblue;
$infobar-background-hover: #AACAD5;
$infobar-text: white;

// Style Specific - menu
$menu-background: transparent;
$menu-link: white;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-serif: 'Merriweather', serif;
$line-height-base: 1.6;
$default-font-size: 16px;

// Screen Sizing
$mobile: 600px;
$tablet: 980px;
$desktop: 1100px;
$largedesktop: 1600px;  